html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  overflow-x: hidden;
  color: $light-text;
  ::selection {
    background-color:  rgba(252, 255, 193) ;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a,
span,
i {
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

button,
a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1366px;
  }
}

.page-banner {
  margin-top: 85px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40%;
  position: relative;
  color: $white;
  @include medium {
    padding-bottom: 30%;
  }
  @include large {
    margin-top: 118px;
    padding-bottom: 25%;
  }
  @include screen {
    height: 460px;
    padding-bottom: 0;
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin-bottom: 0;
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    text-shadow: 3px 2px rgba(0, 0, 0, 25%);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    background-image: url("/images/page-wave.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 15%;
    @include medium {
      height: 25%;
    }
    @include xlarge {
      height: 15%;
    }
  }
}

.no-banner {
  margin-top: 85px;
  position: relative;
  @include large {
    margin-top: 118px;
  }
  h2{
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    text-align:center;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  color: $light-text;
  font-size:14px;
  a {
    color: $light-text;
  }
  .breadcrumb-item {
    & + .breadcrumb-item::before {
      color: $light-text;
    }
    &.active {
      color: $primary;
    }
  }
}

main {
  background: $bg-gray;
  padding:1.5rem 0 5rem;
}

.home-section{
  padding:40px 0 60px 0;
  .title {
    font-family: "Noto Serif TC", serif;
    font-weight:bold;
  }
}

.left-menu {
    position: relative;
}

.menu-switch {
    color: $white;
    background-color: $primary;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    @include padding(6px, 14px);
    @include large {
        display: none;
    }
    &:hover {
        color: $white;
    }
}
.arrow-icon {
    transition: all 0.5s ease-in-out;
    &.rotate {
        transform: rotate(-90deg);
    }
}

.menu-list {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1;
  background-color: $white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  @include large {
      border-top: 10px solid $primary;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
  li {
      border: 1px solid #cccccc;
      border-top: none;
      @include large {
          border: none;
      }
      a {
          padding: 10px 16px;
          width: 100%;
          color: $light-text;
          position: relative;
          @include large {
              padding: 10px 6px 8px 40px;
          }
          &:hover,
          &.active {
              color: $primary;
              &::before {
                  @include large {
                      content: "";
                      position: absolute;
                      width: 32px;
                      height: 1px;
                      background-color: $primary;
                      left: 0;
                      top: 50%;
                      transform: translateY(-50%);
                  }
              }
          }
      }
      &:first-child {
          a {
              @include large {
                  padding: 18px 6px 8px 40px;
              }
              &:hover,
              &.active {
                  &::before {
                      @include large {
                          top: 60%;
                      }
                  }
              }
          }
      }
      &:last-child {
          a {
              @include large {
                  padding: 10px 6px 18px 40px;
              }
          }
      }
  }
}

.search-container {
  display: flex;
  @include small {
      justify-content: flex-end;
  }
  input {
      width: calc(100% - 42px);
      @include padding(0.45rem, 8px);
      border: 1px solid #d9d9d9;
      @include small {
          width: auto;
          @include padding(0.5rem, 8px);
      }
      &:focus-visible {
          outline: none;
      }
  }

  button {
      @include padding(0.45rem, 0.7rem);
      background-color: $primary;
      border: 1px solid $primary;
      color: $white;
      @include small {
          @include padding(0.5rem, 0.8rem);
      }
      &:focus {
          outline: none;
      }
  }
}

.confirm-btn {
  color: $white;
  background-color: $primary;
  @include padding(8px, 32px);
  transition: all 0.3s ease-in-out;
  border: 2px solid $primary;
  &:hover {
    color: $primary;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  &:focus {
    outline: none;
  }
}

.product-carousel {
  .swiper {
    position: static !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    &::after {
      font-family: "bootstrap-icons";
      font-size: 24px;
      color: $light-text;
    }
  }
  .swiper-button-prev {
    left: 0;
    &::after {
      content: "\F284";
    }
  }
  .swiper-button-next {
    right: 0;
    &::after {
      content: "\F285";
    }
  }
}

.product-list {
  @include padding(0, 32px);
  position: relative !important;
  .item {
    width: 100%;
    &:hover {
      .overlay {
        top: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .img {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
  }
  h4.product-title {
    font-family: "Noto Serif TC", serif;
    font-size: 24px;
    color: $dark-text;
    text-align: center;
    font-weight: bold;
  }
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: $light-text;
    margin-bottom:0.8rem;
    .original-price {
      text-decoration: line-through;
    }
    .offer-price {
      font-size: 22px;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include padding(10px,10px);
    div {
      @include padding(10px,10px);
      text-align: center;
      background-color: $white;
      color:$primary;
      width:100%;
    }
  }
  .add-btn{
    border:1px solid $primary;
    color:$primary;
    @include padding(6px,8px);
    background-color:$white;
    display:block;
    margin: 0 auto;
  }
}

.page-item{
  &:not(.active){
    .page-link{
      background-color:transparent;
      border-radius: 0;
      border:none;
    }
  }
} 

.number-box{
  display:flex;
  button{
      background-color:$white;
      border:1px solid $primary;
      color:$primary;
      @include padding(4px,8px);
  }
  span{
      width:40px;
      text-align: center;
      @include padding(4px,4px);
      background-color:$white;
      border-top:1px solid $primary;
      border-bottom:1px solid $primary;
  }
}

.cta-btn {
  color: $white;
  background-color: $primary;
  @include padding(8px, 32px);
  transition: all 0.3s ease-in-out;
  border: 2px solid $primary;
  &:hover {
    color: $primary;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm){
  background-color:$primary !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
  padding-bottom:24px !important;
}

div:where(.swal2-container) div:where(.swal2-actions){
  margin:0 !important;
}

.scrollable-table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  @include large{
    display:table;
  }
}