.home-banner {
  .swiper-pagination-bullet-active {
    background: $primary;
  }
  margin-top: 85px;
  @include large {
    margin-top: 118px;
  }
}

.home-section {
  .title {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      background-color: $light-text;
      position: absolute;
      left: 0%;
      top: 50%;
      @include large {
        width: 20%;
        left: 40%;
      }
    }
    span {
      position: relative;
      background-color: $white;
      padding: 0.7rem 1rem;
      color: $light-text;
      font-size: 2rem;
      z-index: 1;
    }
  }
}

.category-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-image: url("/images/shape-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 555px;
    height: 555px;
    top: -300px;
    left: -180px;
    animation: shapeMove 15s linear infinite;
  }
}

.category-list {
  row-gap: 1.5rem;
  justify-content: center;
  .item {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(8px);
      transition: all 0.3s ease-in-out;
    }
  }
}

.brand-container {
  @include padding(60px, 0);
  background-color: $secondary;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-image: url("/images/shape-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 555px;
    height: 555px;
    top: -300px;
    right: -300px;
    animation: shapeMove 15s linear infinite;
  }
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    background-image: url("/images/shape-left.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 316px;
    height: 367px;
    bottom: -100px;
    left: -50px;
    animation: shapeMove 20s linear infinite;
  }
  .row {
    align-items: center;
    row-gap: 1.5rem;
  }
  .img {
    width: 90%;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100px 0 100px 0;
    margin: 0 auto;
  }
  .content {
    width: 85%;
    margin: 0 auto;
    @include small {
      margin: initial;
    }
  }
  h2.title {
    position: relative;
    text-align: left;
    padding-left: 16px;
    margin-bottom: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      background-color: $primary;
    }
  }
  h3 {
    font-family: "Noto Serif TC", serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1.6;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

@keyframes shapeMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-img-block {
  background-color: $white;
  padding: 60px 0 20px 0;
}

.limit-sale-container {
  background-color: $white;
  .title span {
    background-color: $white;
  }
  .swiper {
    position: static;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    &::after {
      font-family: "bootstrap-icons";
      font-size: 24px;
      color: $light-text;
    }
  }
  .swiper-button-prev {
    left: 0;
    &::after {
      content: "\F284";
    }
  }
  .swiper-button-next {
    right: 0;
    &::after {
      content: "\F285";
    }
  }
}

.countdown-time {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif TC", serif;
  font-weight: bold;
  margin-bottom: 2.5rem;
  .wrapper {
    @include padding(10px, 20px);
    background-color: $secondary;
    color: $primary;
    column-gap: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.5rem;
    }
    .num {
      font-size: 30px;
    }
  }
}
